!!!
%html
  %head
    %title Chad Jolly - Ruby On Rails Developer in Denver, Colorado
    %link{:rel => 'stylesheet', :href => "/stylesheets/screen.css", :media => "screen"}
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/application.js'}
    %meta{:name => 'viewport', :content => 'width=device-width'}
    %meta{:name => 'description', :content => 'Programmer, Packers Fan.'}
    = erb(:analytics, :layout => false) if settings.environment == :production
  %body
    %section#content
      = yield
    %footer#footer
      &copy Chad Jolly
      %a{:href => 'https://github.com/cjolly/chadjolly.com'} This site's source code
