%h1 Hi! I'm Chad Jolly
%p
  I'm a ruby on rails programmer in Denver, Colorado. I also enjoy working with jQuery, Rack, Sinatra, Haml and Sass.

%p
  I have an interesting story about being on the
  = link_to 'Green Bay Packers season tickets waiting list', packers_path
  for my entire life.
