
%p
  I work at
  = link_to('LAWgical', 'https://www.lawgical.com') + '.'
  We build web apps with Ruby on Rails and a handful of other cool web technologies.

%p
  I spend most of my time working on
  = link_to('ServeManager', 'https://www.servemanager.com') + ', '
  the best damn software out there for managing a process serving business.
%p
  I have an interesting story about being on the
  = link_to 'Green Bay Packers season tickets waiting list', packers_path
  for my entire life.

%p
  Do you like to listen to the local radio broadcast when watching football or baseball?
  I made a tool to #{link_to 'sync radio broadcasts to action on TV', radio_path}.
