%h1 Chad Jolly
%p A programmer living in Denver, Colorado.

%h2 Social Stuff
%ul
  %li
    %a{:href => 'https://github.com/cjolly'} Github
  %li
    %a{:href => 'https://twitter.com/#!/chadjolly'} Twitter
  %li
    %a{:href => 'https://www.facebook.com/chad.a.jolly'} Facebook
  %li
    %a{:href => 'http://www.linkedin.com/in/chadjolly'} LinkedIn

%h2 Programming Interests
%ul
  %li Ruby On Rails
  %li jQuery
  %li Rack
  %li Sinatra
  %li Haml/Sass
  %li Pow

%p
  A little experiment. My experience of being on the
  = link_to 'Packers season tickets waiting list.', packers_path
