%h2 Radio Sync

%ol
  %li Connect radio to line-in/mic port
  %li
    Ensure audio is working
    %br
    = button_tag 'Start', id: 'js_mute'
  %li#checkout{data: {pass_id: @pass.try(:id)}}
    - if @pass
      Thanks! Pass valid until
      %span#pass_valid_until{data: {date: @pass.valid_until.to_s(:iso8601)}}
        = @pass.valid_until.to_s(:long)
    - else
      = stripe_checkout_form
  %li
    Use slider to sync radio audio to game action on TV
    %br
    = range_field 'dude', 'bro', in: 0..30, step: 0.1, value: 0, id: 'js_range', disabled: @pass.nil?, style: 'width: 75%'
    #js_delay{style: 'display:none'} Realtime
  %li Enjoy game
