%h2 Radbuff

%ol
  %li Connect radio to line-in/mic port
  %li
    Ensure audio is working
    %br
    = button_tag 'Start', id: 'js_mute'
  %li Buy me a beer
  %li
    Use slider to sync radio audio to game action on TV
    %br
    = range_field 'dude', 'bro', in: 0..10, step: 0.1, value: 0, id: 'js_range', disabled: true
    #js_delay{style: 'display:none'} Realtime
  %li Enjoy game
