%h2 Jolly Weather Station

<object width="600" height="400"><param name="movie" value="http://www.wunderground.com/swf/Rapid_Fire.swf?units=english&station=KWIGREEN51" /><embed src="http://www.wunderground.com/swf/Rapid_Fire.swf?units=english&station=KWIGREEN51" type="application/x-shockwave-flash" width="600" height="400" /></object>
