$cj-blue: #0287c8
$cj-gray: #434343

$font-color: $cj-gray
$header-color: $font-color
$link-color: $font-color
$link-visited-color: $font-color

body
  background-color: #fff
  #content
    margin-top: 2em

  #footer
    margin-top: 10px
    margin-bottom: 10px
    text-align: center
    p
      padding-top: 0.25em
      border-top: 1px dotted $font-color
    a
      margin: 0.25em

  .logo
    color: $cj-blue
