@import "compass/reset"
@import "blueprint"

$cj-blue: #0287c8
$cj-gray: #434343

$font-color: #fff
$header-color: $font-color
$link-color: $font-color
$link-visited-color: $font-color

body
  +blueprint(true)
  background-color: $cj-gray
  #content
    +container
  #footer
    +container
