!!!
%html
  %head
    %title= @page_title || "Chad Jolly - Ruby On Rails Developer in Denver, Colorado"
    %meta{:name => 'description', :content => @meta_description || 'Programmer, Packers Fan.'}
    %meta{:name => 'viewport', :content => 'width=device-width'}
    = stylesheet_link_tag('application')
    = render 'layouts/analytics' if Rails.env.production?
  %body
    %section#content
      = yield
    %footer#footer
      %p &copy; Chad Jolly
      %a{:href => 'https://github.com/cjolly/chadjolly.com', :title => "This site's source code"} Source
      %a{:href => 'https://github.com/cjolly', :title => "Open Source Contributions"} Github
      %a{:href => 'https://twitter.com/#!/chadjolly', :title => "Blathering"} Twitter
      %a{:href => 'https://www.facebook.com/chad.a.jolly', :title => "Keeping in touch with Mom"} Facebook
      %a{:href => 'http://www.linkedin.com/in/chadjolly', :title => "Not sure what this does"} LinkedIn
